upstream elasticsearch_proxy {
    # elasticsearch address
    server 127.0.0.1:9200;
}

server {

    # If you want restrict access to specific indexes eg. starting with : 'test-logs-'
    # add following location directive. For details check: 
    # 1. https://docs.nginx.com/nginx/admin-guide/web-server/web-server/#configuring-locations
    # 2. https://www.digitalocean.com/community/tutorials/understanding-nginx-server-and-location-block-selection-algorithms

    location ~ /test-logs-.*$ {

	auth_basic "Restricted Content";
        auth_basic_user_file /etc/nginx/.htpasswd;

        proxy_pass http://elasticsearch_proxy;
	proxy_redirect     off;
    } 

    set $forwarded_port 12121;

    listen [::]:12121 ssl ipv6only=on; # managed by Certbot
    listen 12121 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/rojarand.ddns.net/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/rojarand.ddns.net/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

